<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
    <h1>Log In</h1>
    <form action="/login" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">

        <button type="submit" value="Log In">
</body>
</html>